---
breadcrumb: RabbitMQ for Pivotal Cloud Foundry Documentation
title: RabbitMQ&reg; for Pivotal Cloud Foundry Documentation
owner: London Services
---

This guide describes RabbitMQ for Pivotal Cloud Foundry (PCF), which lets PCF app developers use the RabbitMQ service in their PCF apps.

## <a id='AboutTile'></a>About RabbitMQ for PCF

Operators install the RabbitMQ for PCF service and publish it to the Marketplace using PCF Operations Manager (Ops Manager).
Developers then create service instances of the service to call from their apps. 

RabbitMQ for PCF can run as either a shared, multi-tenant service provisioned by the operator, 
or as an on-demand service that allows developers to provision instances dynamically.

You can deploy RabbitMQ for PCF in two architectures, *on-demand* and *shared*:

+ The *on-demand service* architecture is new as of v1.8. 
  This v1.8+ documentation describes using RabbitMQ for PCF as an on-demand service. 

+ The *shared service* architecture has been available since v1.2. 
  Operators can deploy the shared service to run on a single node or on a cluster. 
  For documentation on the shared service, see 
[RabbitMQ for Pivotal Cloud Foundry Documentation](https://docs.pivotal.io/rabbitmq-cf-d34379b0-a290-47c7-bc6c-c45a9adfa8c7/index.html) 
or select `v1.7.10` or earlier in the dropi-down menu above. 

## <a id='AboutRabbit'></a>About RabbitMQ

RabbitMQ is a fast and dependable open-source message server, which supports a wide range of use cases 
including reliable integration, content based routing and global data delivery, and high volume monitoring and data ingestion.

Emerging as the de facto standard for cloud messaging, RabbitMQ is used for efficient communication 
between servers, applications and devices, and creates lasting value by enabling rapid development of modern decentralized 
application and data architectures that can scale with your business needs.



## <a id='snapshot'></a> Product Snapshot

<dl>
<dt>Current RabbitMQ for PCF Details</dt>
<dd><strong>Version</strong>: v1.8.0 </dd>
<dd><strong>Release Date</strong>:  March 31, 2017</dd>
<dd><strong>Software component version</strong>: RabbitMQ OSS 3.6.6</dd>
<dd><strong>Compatible Ops Manager Version(s)</strong>: 1.8.x </dd>
<dd><strong>Compatible Elastic Runtime Version(s)</strong>: 1.8.x </dd>
<dd><strong>AWS support?</strong> Yes</dd>
<dd><strong>Azure support?</strong> ???</dd>
<dd><strong>GCP support?</strong> ???</dd>
<dd><strong>OpenStack support?</strong> Yes</dd>
<dd><strong>vSphere support?</strong> Yes</dd>
<dd><strong>IPsec support?</strong> No</dd>
</dl>

## <a id='features'></a>Features

REVISE THIS FEATURE LIST FOR ON-DEMAND

* Provision an instance of the RabbitMQ service, which corresponds to a unique RabbitMQ Vhost (virtual host)
* Bind applications to an instance of the plan, providing unique credentials for each binding
* Management dashboard access to PCF Operators and application developers
* Deployment across multiple availability zones, with nodes striped across the AZs automatically
* Enable SSL (Secure Sockets Layer) for the AMQP, MQTT, STOMP protocols
* HAProxy load balancer across all nodes to balance connections
* Plugin configuration can be easily changed at any time and the cluster redeployed and updated
* The cluster topology can be changed and easily scaled out
* Automated upgrades of RabbitMQ for major, minor and patch releases (see release notes for downtime requirements)
* Configure the end point for the RabbitMQ Syslog
* RabbitMQ and HAProxy metrics are exposed on the firehose

## <a id='known-issues'></a>Known Issues

TK KNOWN ISSUES WITH ON-DEMAND RABBITMQ FOR PCF

## <a id=''></a>Feedback

Please provide any bugs, feature requests, or questions to the [PCF Feedback list](pivotal-cf-feedback@pivotal.io).

## <a id='see-also'></a>See Also

TK SEE ALSO FOR ON-DEMAND RABBITMQ FOR PCF - ANOTHER LINK TO "CLASSIC" DOCS?

