---
title: Installing and Configuring RabbitMQ for PCF
owner: London Services
---

This topic provides instructions to PCF operators about how to install, configure, and deploy the RabbitMQ for PCF tile. 


## <a id="install"></a>  Install and Configure the RabbitMQ for PCF tile

1. Download the product file from Pivotal Network.

2. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

3. Under the **Import a Product** button, click **+** next to the version number of RabbitMQ for PCF. 
   This adds the tile to your staging area.

4. Click the newly added **RabbitMQ for PCF** tile.






