---
title: My Service Release Notes
owner: <your group name> # <---- For example "London Services"
---

_This topic contains the release notes._

_List all the release notes for the product on one page, in reverse chronological order. Use the following text as a template for your release notes._

_This topic contains release information about the current and past releases of My Service._

_Example:_

## <a id='11X'></a> 1.1.1

**Release date: 5 May 2016**

* Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF) now defaults the access token and refresh token validity time to UAA defaults, 12 hours and 30 days, respectively. For any plans created in SSO 1.1.0, please resolve this bug in one of the following ways:

	 * Option 1: Recreate the plan(s) created in SSO 1.1.0.

	 * Option 2: Edit the identity zone within UAA and set your desired token validity time.

* PCF updated stemcell to 3232.2. This is a security upgrade that resolves the following:

    * [USN-2959-1](http://www.ubuntu.com/usn/USN-2959-1)

    * [USN-2957-1](http://www.ubuntu.com/usn/USN-2957-1)

	* [USN-2949-1](http://www.ubuntu.com/usn/USN-2949-1)

	* [USN-2943-1](http://www.ubuntu.com/usn/USN-2943-1)

	* [USN-2935-2](http://www.ubuntu.com/usn/USN-2935-2)

## <a id='10X'></a>1.1.0

**Release date: 29 April 2016**

<div class="note"><strong>Note</strong>: <a href="http://docs.pivotal.io/p-identity/index.html">The Single Sign-On service tile</a> operates in lockstep with Pivotal Elastic Runtime.<br>
    <ul>
          <li> The SSO v1.0.x tiles are compatible with <a href="https://docs.pivotal.io/1.6/pivotalcf/customizing/upgrading-products.html">PCF v1.6.x</a> </li>
          <li> The SSO v1.1.x tiles are compatible with <a href="https://docs.pivotal.io/pivotalcf/customizing/upgrading-products.html">PCF v1.7.x</a> </li></ul>
If you are a customer upgrading from PCF 1.6 to PCF 1.7 and you are using SSO v1.0.x, you must update to the SSO v1.1.0 service tile before proceeding with the upgrade.</div>

**What’s New**

* Single Sign-On (SSO) for Pivotal Cloud Foundry (PCF) provides the ability for PCF Administrators to delete plans.

* SSO provides the ability for administrators to delete identity providers.

* SSO now supports SAML NameID other than email address.

* SSO provides the ability for administrators to manage SAML assertion signing configurations.

* SSO provides support for propagation of user attributes and group memberships from external identity providers in OpenID Connect tokens.

* SSO provides the ability for administrators to assign API permissions to users through External Group Mappings with external identity providers.

* SSO provides the ability to Group Whitelist groups so that they will be sent in the ID token.

* SSO provides the ability for administrators to set password and lockout policy for internal users.

* SSO provides the ability for developers to create resources and permissions for clients.

* SSO now supports SAML single logout flow which ends UAA and external identity provder sessions.

