---
title: Troubleshooting
owner: London Services
---

This topic provides basic instructions for operators troubleshooting On-Demand RabbitMQ&reg; for PCF.


## <a id="create-instance"></a> Errors


### <a id="create-instance"></a> Instance Creation Errors

The following sections describe errors that occur when a developer tries to create an on-demand instance of the RabbitMQ for PCF service.

### create-instance

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>Developers cannot create instances of on-demand services. Errors they may report include:<br>
  <code>TK cannot create instance GUID TASK-ID</code><br>
  <code>TK cannot create instance GUID TASK-ID</code>
 </td>
</tr>
<tr>
  <th>Cause</th>
  <td>BOSH fails when trying to create a new VM</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
    Any <code>create-instance</code>error a developer receives should include the BOSH Task ID for the instance creation job and the GUID of the half-created service instance. If the developer does not supply these, follow the instructions <a href="#determine-guid">Determine the Task ID and GUID of a Recent create-instance Call</a>.<ol>
      <li>

To track down error in create-service:

</li>

    </ol>
  </td>
</tr>
</table>

## <a id="techniques"></a> Techniques


### <a id="determine-guid"></a> Determine the Task ID and GUID of a Recent <i>cf create-instance</i>

When `cf create-instance` fails, the error message includes the following two identifiers, which are useful for debugging:

* The Task ID for the BOSH task that creates the service instance
* The GUID of instance that was not successfully created

The following procedure retrieves these two identifiers if you only know the the following. This may happen when a developer reports that instance creation failed but no longer has the error message:

* The service name
* The org and space that `create-instance` was called in
* That the `create instance` command was run recently

1. Use the cf CLI to target and to log in to your deployment. See [Login](../cf-cli/getting-started.html#login) the *Getting Started with the cf CLI* topic.
    <pre class="terminal">
    $ cf login -a https<span>://</span>api.example.com -u username<span>@</span>example.com
    API endpoint: https<span>://</span>api.example.com
    </pre>

1. Follow the directions to [SSH into Ops Manager](/customizing/trouble-advanced.html#ssh) in the *Advanced Troubleshooting with the BOSH CLI* topic. To do this, you must have the keypair used to install Ops Manager saved on your local machine.

1. Continue following the *Advanced Troubleshooting* directions to [Log into BOSH](/customizing/trouble-advanced.html#log-in). You can retrieve the Ops Manager Director password from the Ops Manager API or find it in the **Credentials** tab of Ops Man Director tile **Credentials** tab.

You're on Ops Man dir VM, and you use BOSH CLI to query Bosh Director VM for instance info:

bosh --ca-cert CERTIFICATE-LOCATON target 10.0.0.5 # target Bosh Director - find address in Ops Man tile Settings

cf log into space where instance to examine is running

Testing:

cf create-service ondemand-rabbitmq ...

bosh tasks recent

cf services - only one line on each

cf service SERVICE-INSTANCE-NAME # more info on specific instance

bosh tasks recent

cf service SERVICE-INSTANCE-NAME --guid # to get GUID of instance

bosh tasks recent | grep GUID # first column gives you TASK-ID # for instance

bosh task TASK-ID # shows full error message

bosh task TASK-ID --raw # shows raw JSON of error








