---
title: Troubleshooting
owner: London Services
---

This topic provides basic instructions for operators troubleshooting On-Demand RabbitMQ&reg; for PCF.


## <a id="create-instance"></a> Errors


### <a id="create-instance"></a> Instance Creation Errors

The following sections describe errors that occur when a developer tries to create an on-demand instance of the RabbitMQ for PCF service.

### create-instance

<table border='1' class='nice'>
<tr>
  <th width="22%">Error</th>
  <td>Developers cannot create instances of on-demand services. Errors they may report include:<br>
  <code>TK cannot create instance GUID TASK-ID</code><br>
  <code>TK cannot create instance GUID TASK-ID</code>
 </td>
</tr>
<tr>
  <th>Cause</th>
  <td>BOSH fails when trying to create a new VM</td>
</tr>
<tr>
  <th>Solution</th>
  <td>
    Any <code>create-instance</code>error a developer receives should include the BOSH Task ID for the instance creation job and the GUID of the half-created service instance. If the developer does not supply these, follow the instructions <a href="#determine-guid">Determine the Task ID and GUID of a Recent create-instance Call</a><ol>
      <li>

To track down error in create-service:

</li>

    </ol>
  </td>
</tr>
</table>

## <a id="techniques"></a> Techniques


### <a id="determine-guid"></a> Determine the Task ID and GUID of a Recent create-instance Call

Use this procedure to determine the BOSH Task ID and instance GUID of a recently-created service instance, whether created successfully or otherwise.

1. Using the cf CLI, target and to log in to your deployment. See [Login](../cf-cli/getting-started.html#login) the Getting Started with the cf CLI topic.
<pre class="terminal">
$ cf login -a https://api.example.com -u username@example.com
API endpoint: https://api.example.com

</pre>

ssh into Ops Man Dir # need keys - keypair permissions file is somewhere

Get Director password (can get from Ops Man api or find in Credentials tab of Ops Man Dir tile

You're on Ops Man dir VM, and you use BOSH CLI to query Bosh Director VM for instance info:

bosh --ca-cert CERTIFICATE-LOCATON target 10.0.0.5 # target Bosh Director - find address in Ops Man tile Settings

cf log into space where instance to examine is running

Testing:

cf create-service ondemand-rabbitmq ...

bosh tasks recent

cf services - only one line on each

cf service SERVICE-INSTANCE-NAME # more info on specific instance

bosh tasks recent

cf service SERVICE-INSTANCE-NAME --guid # to get GUID of instance

bosh tasks recent | grep GUID # first column gives you TASK-ID # for instance

bosh task TASK-ID # shows full error message

bosh task TASK-ID --raw # shows raw JSON of error








